// See https://jadenconcord.github.io/theme-generator/


html {
    line-height: 1.5;
    font-family: Georgia, serif;
    font-size: 20px;
}

body {
    margin: 0 auto;
    max-width: 36em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    hyphens: auto;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;

    &.theme-dark {
        background-color: #1D1D2A;
        color: #e7e5da;

        tbody {
            border-top: 1px solid #e7e5da;
            border-bottom: 1px solid #e7e5da;
        }
        
        th {
            border-top: 1px solid #e7e5da;
        }
        

        a {
            color: #3366BB;
        }

        hr {
            background-color: #e7e5da;
        }

        #TOC a {
            color: #e7e5da;
        }

        .nav-container {
            background-color: #2E2E43;
        }

        .nav-link {
            color: #e7e5da;
        }
    
        .nav-link:hover {
            color: #b3b1aa;
        }
    
        h1:not(.title), h2:not(#toc-title), h3, h4, h5, h6 {
            &:hover {
                color: #b3b1aa;
            }
        }
    
        .has-proof>p>.statement-heading {
            &:hover {
                color: #b3b1aa  !important;
            }
        }

        #flip-theme:hover {
            color: #b3b1aa;
        }
    }

    &:not(.theme-dark) {
        color: #1a1a1a;
        background-color: #fdfdfd;

        tbody {
            
            border-top: 1px solid #1a1a1a;
            border-bottom: 1px solid #1a1a1a;
        }
        
        th {
            border-top: 1px solid #1a1a1a;
            
        }
        
    
        a {
            color: #00007f;
        }
    
        hr {
            background-color: #1a1a1a;
        }
    
        #TOC a {
            color: #1a1a1a;
        }
    
        .nav-container {
            background-color: #f6f6f6;
        }
    
        .nav-link {
            color: #1a1a1a;
        }
    
        .nav-link:hover {
            color: #808080;
        }
    
        h1:not(.title), h2:not(#toc-title), h3, h4, h5, h6 {
            &:hover {
                color: #808080;
            }
        }
    
        .has-proof>p>.statement-heading {
            &:hover {
                color: #808080  !important;
            }
        }

        #flip-theme:hover {
            color: #808080;
        }
    }   

    transition: color .2s ease-out;
    transition: background-color .2s ease-out;

    .nav-container {
        transition: background-color .3s ease-out;
    }
}

tbody {
    margin-top: 0.5em;
}

th {
    padding: 0.25em 0.5em 0.25em 0.5em;
}

#flip-theme:hover {
    cursor: pointer;
    transition: color .2s ease-out;
}

@media (max-width: 600px) {
    body {
        font-size: 0.9em;
        padding: 1em;
    }

    h1 {
        font-size: 1.8em;
    }
}

@media print {
    body {
        background-color: transparent;
        font-size: 12pt;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3,
    h4 {
        page-break-after: avoid;
    }
}

p {
    margin: 1em 0;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.4em;
}

h5,
h6 {
    font-size: 1em;
    font-style: italic;
}

h6 {
    font-weight: normal;
}

ol,
ul {
    padding-left: 1.7em;
    margin-top: 1em;
}

li>ol,
li>ul {
    margin-top: 0;
}

blockquote {
    margin: 1em 0 1em 1.7em;
    padding-left: 1em;
    border-left: 2px solid #e6e6e6;
    color: #606060;
}

code {
    font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
    font-size: 85%;
    margin: 0;
}

pre {
    margin: 1em 0;
    overflow: auto;
}

pre code {
    padding: 0;
    overflow: visible;
    overflow-wrap: normal;
}

.sourceCode {
    background-color: transparent;
    overflow: visible;
}

hr {
    border: none;
    height: 1px;
    margin: 1em 0;
}

table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: block;
    font-variant-numeric: lining-nums tabular-nums;
}

table caption {
    margin-bottom: 0.75em;
}


td {
    padding: 0.125em 0.5em 0.25em 0.5em;
}

header {
    margin-bottom: 4em;
    text-align: center;
}

#TOC li {
    list-style: none;
}

#TOC ul {
    padding-left: 1.3em;
}

#TOC>ul {
    padding-left: 0;
}

#TOC a:not(:hover) {
    text-decoration: none;
}

code {
    white-space: pre-wrap;
}

span.smallcaps {
    font-variant: small-caps;
}

span.underline {
    text-decoration: underline;
}

div.column {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

div.hanging-indent {
    margin-left: 1.5em;
    text-indent: -1.5em;
}

ul.task-list {
    list-style: none;
}

div.csl-entry {
    clear: both;
}

.hanging div.csl-entry {
    margin-left: 2em;
    text-indent: -2em;
}

div.csl-left-margin {
    min-width: 2em;
    float: left;
}

div.csl-right-inline {
    margin-left: 2em;
    padding-left: 1em;
}

div.csl-indent {
    margin-left: 2em;
}


html {
    scroll-behavior: smooth;
    font-family: "Libertinus", serif;
    counter-reset: sidenote-counter;
}

body {
    line-height: 1.35;
}




/* @font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/static/fonts/LM-regular.woff2') format('woff2'),
        url('/static/fonts/LM-regular.woff') format('woff'),
        url('/static/fonts/LM-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('/static/fonts/LM-italic.woff2') format('woff2'),
        url('/static/fonts/LM-italic.woff') format('woff'),
        url('/static/fonts/LM-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('/static/fonts/LM-bold.woff2') format('woff2'),
        url('/static/fonts/LM-bold.woff') format('woff'),
        url('/static/fonts/LM-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('/static/fonts/LM-bold-italic.woff2') format('woff2'),
        url('/static/fonts/LM-bold-italic.woff') format('woff'),
        url('/static/fonts/LM-bold-italic.ttf') format('truetype');
} */

@font-face {
    font-family: 'Libertinus';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/static/fonts/Libertinus-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Libertinus';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('/static/fonts/Libertinus-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Libertinus';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('/static/fonts/Libertinus-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Libertinus';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('/static/fonts/Libertinus-bold-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Libertinus';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/static/fonts/Libertinus-semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'Libertinus';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url('/static/fonts/Libertinus-semibold-italic.woff2') format('woff2');
}


/* (WIP) add border when a sidenote is clicked on */
.sidenote:target {
    border: hsl(55, 55%, 70%) 1.5px solid;
    padding: 0 .5rem;
    scroll-margin-block-start: 10rem;
}

/* sidenote counter */
.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number::after,
.sidenote::before {
    position: relative;
    vertical-align: baseline;
}

/* add number in main content */
.sidenote-number::after {
    content: counter(sidenote-counter);
    font-size: 0.7rem;
    top: -0.5rem;
    left: 0.1rem;
}

/* add number in front of the sidenote */
.sidenote-number~.sidenote::before {
    content: counter(sidenote-counter) ' ';
    font-size: 0.7rem;
    top: -0.5rem;
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

/* sidenotes inside blockquotes are indented more */
blockquote .sidenote {
    margin-right: -24vw;
    width: 18vw;
}


label.margin-toggle {
    display: inline;

}

input.margin-toggle {
    display: none;
}

.sidenote {
    font-size: 0.8rem;
    float: right;
    clear: right;
    width: 18vw;
    margin-right: -20vw;
    margin-bottom: 1em;
}


:root {
    --scrolltop: 0;
}

.container {
    min-height: 100vh;
}

/*Body is 55%, sidenote is 20%, nav is ~17em */
@media (min-width: 800px) {
    body {
        padding: 0px;
        max-width: none;
    }

    #TOC {
        position: absolute;
        left: 1.5em;
        top: 45vh;
        max-height: calc(100vh - 2em);
        width: 18vw;
        overflow: auto;
        padding: 2px;
    }

    #TOC.sticky {
        position: fixed;
        top: 1em;
    }

    .content-container {
        padding-left: 0;
        padding-right: 0;
        max-width: 70vw;
        margin-bottom: 0.7em;
    }

    .container {
        display: flex;
        flex-direction: row;
        gap: 2.5vw;
    }

    .nav-container {
        flex: 3;
        max-width: 20vw;
        padding-left: 1.5em;
        padding-top: 20vh;
    }

    .content-container {
        flex: 11;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }


}


@media (max-width: 800px) {
    .nav-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 0.7em 1.5em;
    }

    .content-container {
        max-width: none !important;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        gap: 1.25em;
    }

    .body-container {
        max-width: 85vw;
    }
}

label.margin-toggle:not(.sidenote-number) {
    display: inline;
}

label.margin-toggle {
    cursor: pointer;
}

.sidenote {
    display: block;
    height: 0;
    overflow: hidden;
    float: left;
    clear: both;

}

.sidenote>br {
    display: none;
}

.margin-toggle:checked+.sidenote {
    height: auto;
    width: 100%;
    margin: 0.3em;
    padding: 0.5em;
}

/* tweak indentation of sidenote inside a blockquote */
blockquote .sidenote {
    margin-right: -25vw;
    width: 16vw;
}



.nav-link {
    transition: color .2s ease-out;

    text-decoration: none;
    font-size: x-large;
}


figure>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure>figcaption {
    text-align: center;
}

.content-container>table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: table;
}

.date {
    text-align: right;
    font-size: 14px;
}



.hide-before::before {
    display: none !important;
}

h1:not(.title),
h2:not(#toc-title),
h3,
h4,
h5,
h6 {
    transition: color .2s ease-out;

    &:hover {
        cursor: pointer;
    }
}

.has-proof>p>.statement-heading {
    transition: color .2s ease-out;

    &::before {
        content: '\25B6';
        display: inline-block;
        margin-right: 7px;
        margin-left: 3px;
        transition: transform 0.2s ease-out, padding 0.2s ease-out;
        cursor: pointer;
    }

    &:hover {
        cursor: pointer;
    }
}

.has-proof.active>p>.statement-heading::before {
    transform: rotate(90deg);
}

.proof {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    &>p::after {
        content: '\220E';
        text-align: right;
        float: right;
        margin-right: 10px;
    }
}

.profile-container {
    float: right;
    width: clamp(200px, 30%, 280px);
    padding-left: 30px;
    padding-right: 30px;
}

.profile-img {
    border-radius: 50%;
}